[Unit]
Description=Si communication layer for inber
After=network.target

[Service]
Type=simple
User=slava
WorkingDirectory=/home/slava/life/repos/si
Environment=SI_FEED=inber
Environment=SI_WS_ADDR=:8090
ExecStart=/home/slava/life/repos/si/si
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
